.root{
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-background-color: black;
}

.button {
    -fx-background-color:
        linear-gradient(#fff035, #ffa900),
        radial-gradient(center 50% -40%, radius 200%, #eeb836 45%, #c88000 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #533906;
}

/*.button {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}*/

.bigbutton {
	-fx-font-size: 20;
	-fx-font-weight: bold;
}

.welcome_button {
	-fx-font-size: 20;
	-fx-font-weight: bold;
}

.ws_background {
	-fx-background-image: url("../resources/img/burningearth.jpg");
}

.universe_background {
	-fx-background-image: url("../resources/img/universe.jpg");
}